{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<nav class="navtop">
			<div class="flex flex-center">
                <a href="{{ url_for('homeBreast') }}">Breast</a>
				<a href="{{ url_for('homeSpin') }}">Spin</a>
				<a href="{{ url_for('homeLegs') }}">Legs</a>
			</div>
</nav>


<div>
    <h1 class="flex flex-center" style="color: #6D9E47"> Гіперекстензія </h1>
     Гіперекстензія  - вправа для розвитку випрямлячів спини, а також сідничних м'язів і згиначів стегна. Вправа має низький рівень травматичності хребта, не перевантажує суглоби, підтримує тонус м'язів, зміцнює сухожильний корсет хребта, тому рекомендується для виконання початківцям і людям зі слабкою спиною. Гіперекстензія знижує ризик травмування хребта і сухожиль.
    <div class="flex flex-center">
        <img src="static/homephoto/Гіперекстензія.jpg" alt="">
    </div>
</div>

<div>
    <h1 class="flex flex-center" style="color: #6D9E47"> Підтягування </h1>
    Підтягування  - вправа, яка найчастіше виконується на турніку; робочі групи м'язів: комплекс м'язів рук (головним чином, передпліччя, біцепси) і спини. Чим ширший хват руками за поперечину, тим більше навантаження лягає на найширші м'язи спини; чим вужчий хват - тим більше навантаження лягає на біцепси. Якщо підтягуватися, торкаючись поперечини потилицею, то найширші м'язи розтягуються в ширину. А якщо підтягуватися, торкаючись підборіддям, то найширші розтягуються ще й у товщину. При вузькому хваті, долонями до себе, додаткове навантаження отримує нижня частина найширших, що знаходиться в районі талії.
    <div class="flex flex-center">
        <img src="static/homephoto/Підтягування.jpg" alt="">
    </div>
</div>

<div>
    <h1 class="flex flex-center" style="color: #6D9E47"> Т-Тяга </h1>
     Т-Тяга  - базова вправа, що дозволяє досягти гіпертрофії м'язових волокон в області найширших м'язів спини. Відмінною особливістю вправи є те, що гриф зафіксований з одного боку, тому амплітуда руху теж фіксована, а це дозволяє виконувати відмовні повтори, тобто «доопрацьовувати» в короткій амплітуді, що стимулює не тільки гіпертрофію м'язових волокон, але й розвиває силові показники атлета. Головне при виконанні вправи - мінімізувати участь біцепса, який схильний "красти" навантаження і не дає максимально сконцентруватися на проробленні м'язів спини.
    <div class="flex flex-center">
        <img src="static/homephoto/Т-Тяга.jpg" alt="">
    </div>
</div>

<div>
    <h1 class="flex flex-center" style="color: #6D9E47"> Тяга на тренажері сидячи з упором грудей </h1>
    Тяга на тренажері сидячи з упором грудей  - ефективна, технічно проста вправа для розвитку м'язів середньої частини спини. Дозволяє ізольовано проробити цільові м'язи з максимальною інтенсивністю і максимальною амплітудою. Також будуть працювати ромбоподібні м'язи, трапецієподібний м'яз і задні пучки дельт. Широкий хват дозволяє прокачати найширший м'яз спини з боків. Чим вужчий хват - тим більше працюють ті частини найширшого м'яза, які розташовані ближче до хребта. Прямий хват навантажує верхній пучок найширшої, нейтральний хват навантажує середній пучок, а зворотній - нижній. За рахунок того, що груди спираються на опору, знижується навантаження на хребет. Лікті слід відводити якнайдалі у верхній точці.
    <div class="flex flex-center">
        <img src="static/homephoto/Тяга на тренажері сидячи з упором грудей.jpg" alt="">
    </div>
</div>

<div>
    <h1 class="flex flex-center" style="color: #6D9E47"> Тяга верхнього блоку за голову / до грудей </h1>
     Тяга верхнього блоку за голову / до грудей  - базова вправа, яке практично повністю імітує підтягування. Дана вправа задіє найширші м'язи спини, великий круглий м'яз, біцепс, плечовий м'яз, плечелучевий м'яз, а також ромбоподібний м'яз і трапецієподібний м'яз (нижня частина). Одна з кращих вправ для найширших м'язів. Тяга блоку за голову / до грудей зручніша у виконанні в порівнянні з підтягуваннями, а також хороша тим, що дозволяє зрушувати кут тяги в будь-якому напрямку, тим самим задіюючи більш різноманітні пучки м'язів. Оптимальна кількість повторень для стимуляції м'язового росту 8 - 10 разів. Вага повинна тягнутися спиною, а не руками, для цього стежте за положенням рук / передплічь і зводьте лопатки, лікті повинні "ходити" вздовж корпусу вниз. Не відхиляйте корпус занадто сильно назад, це допустимо тільки при роботі з великими вагами в манері чітингу. Використовуйте лямки при роботі з великими вагами для утримання грифа.
    <div class="flex flex-center">
        <img src="static/homephoto/Тяга верхнього блоку за голову  до грудей.jpg" alt="">
    </div>
</div>

{% endblock %}