<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='calculator.css') }}">



	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1 style="color: #63DD3A;">DREAMBODY</h1>
                <a href="{{ url_for('homeBreast') }}">Home</a>
				<a href="{{ url_for('calculator') }}">Calculator</a>
				<a href="{{ url_for('profile') }}">Profile</a>
				<a href="{{ url_for('logout') }}">Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
		<script src="{{ url_for('static', filename='home.js') }}"></script>
	</body>
</html>